/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.filters_listing {
	padding: 10px 0;
}

span.label {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 2px 5px;
	border-radius: 2px;
	display: inline-block;
	margin: 0 5px 5px 0;
	font-size: 11px;
	position: relative;
}

span.label:after {
	content: "x";
	margin-left: 5px;
	color: #CCC;
}

.filtros {
	margin-top: 10px;
}

a.whatsapp {
	background-color: #25D366;
}

	a.btn_1 .fas,
	a.btn_2 .fas {
		margin-left: 1em;
	}
	
a.tel {
	background-color: #259f52;
}

.qr-code {
	float: right;
	flex-basis: 160px;
}

	.qr-code img {
		width: 100%;
	}
	
#reccomended {
	display: flex;
	flex-direction: column;
}

	#reccomended .owl-nav {
		order: 1;
		margin: -30px 0 30px 0;
	}
	
	#reccomended .owl-stage-outer {
		order: 2;
	}
	
	#reccomended .owl-dots {
		order: 3;
	}
	
.singlepost {
	padding: 30px;
}

@keyframes pulse {
	0% { opacity: 0 }
	50% { opacity: 0.05 }
	100% { opacity: 0 }
}

.strip figure {
  height: auto;
}

  .strip figure a img {
    position: absolute;
    transform: none;
    left: 0;
    top: 0;
  }
  
  .strip figure .placeholder {
    padding-bottom: 100%;
  }
  
  .strip figure .placeholder.pulse {
    animation: pulse 1s infinite;
    background-color: #999;
  }

.strip figure a:hover img {
  transform: scale(1.1);
}

.strip .discount {
  font-size: 1em;
  padding: 10px 12px;
  z-index: 1;
}

.strip.list_view figure,
.strip.list_view .wrapper,
.strip.list_view {
  min-height: 0;
}

  .strip.list_view figure a img {
    height: 200px;
  }
  
.header_in .search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
  .header_in .search input,
  .header_in .search button {
    height: 3em;
  }
  
  .header_in .search input {
    width: 100%;
    border-right: 0 none;
    border-radius: 3px 0 0 3px;
  }
  
  .header_in .search button {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 0 3px 3px 0;
    text-indent: -999px;
    background: #ffc107 url(~assets/img/search.svg) no-repeat center center;
    width: 50px;
  }
  
ul#top_menu li a.login, ul#top_menu li a.wishlist_bt_top {
  top: 14px;
  overflow: visible;
}

  ul#top_menu li a.login, ul#top_menu li a.wishlist_bt_top:before {
    content: "\e015";
    font-family: ElegantIcons;
  }
  
ul#top_menu span.n {
  text-indent: 0;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 15px;
  height: 15px;
  line-height: 170%;
  text-align: center;
  background-color: #004dda;
  border-radius: 100%;
  color: #FFF;
  font-size: 9px;
}