/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
#scrollTop {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  background-color: #004dda;
  color: #FFF;
  border-radius: 100%;
  text-align: center;
  line-height: 1.9em;
  font-size: 1.4em;
  cursor: pointer;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.4);
  display: block;
}

.filters_listing {
	padding: 10px 0;
}

span.label {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 2px 5px;
	border-radius: 2px;
	display: inline-block;
	margin: 0 5px 5px 0;
	font-size: 11px;
	position: relative;
}

span.label:after {
	content: "x";
	margin-left: 5px;
	color: #CCC;
}

.filtros {
	margin-top: 10px;
}

a.whatsapp {
	background-color: #25D366;
}

	a.btn_1 .fas,
	a.btn_2 .fas {
		margin-left: 1em;
	}
	
a.tel {
	background-color: #259f52;
}

.qr-code {
	float: right;
	flex-basis: 160px;
}

	.qr-code img {
		width: 100%;
	}
	
#reccomended {
	display: flex;
	flex-direction: column;
}

	#reccomended .owl-nav {
		order: 1;
		margin: -30px 0 30px 0;
	}
	
	#reccomended .owl-stage-outer {
		order: 2;
	}
	
	#reccomended .owl-dots {
		order: 3;
	}
	
.singlepost {
	padding: 30px;
}

@keyframes pulse {
	0% { opacity: 0 }
	50% { opacity: 0.05 }
	100% { opacity: 0 }
}

.strip figure {
  height: auto;
}

  .strip figure a img {
    position: absolute;
    transform: none;
    left: 0;
    top: 0;
  }
  
  .strip figure .placeholder {
    padding-bottom: 100%;
  }
  
  .strip figure .placeholder.pulse {
    animation: pulse 1s infinite;
    background-color: #999;
  }

.strip figure a:hover img {
  transform: scale(1.1);
}

.strip .discount {
  font-size: 1em;
  padding: 10px 12px;
  z-index: 1;
}

.strip.list_view figure,
.strip.list_view .wrapper,
.strip.list_view {
  min-height: 0;
}

  .strip.list_view figure a img {
    height: 200px;
  }
  
.header_in .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
  
  .header_in .search input,
  .header_in .search button {
    height: 3em;
  }
  
  .header_in .search input {
    width: 100%;
    border-right: 0 none;
    border-radius: 3px 0 0 3px;
  }
  
  .header_in .search input:focus {
    box-shadow: none;
  }
  
  .header_in .search button {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 0 3px 3px 0;
    text-indent: -999px;
    background: #ffc107 url(~assets/img/search.svg) no-repeat center center;
    width: 50px;
  }
  
		.sugerencias {
  		opacity: 0;
  		transition: opacity 0.5s;
      position: absolute;
      background-color: #FFF;
      border-radius: 3px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
      width: 100%;
      right: 0;
      top: 4em;
      overflow: hidden;
      z-index: 99999;
      pointer-events: none;
    }
    
    .sugerencias a {
      font-size: 1em;
      display: block;
      padding: 1em;
      color: inherit;
    }
      
    .sugerencias a:hover {
      background-color: var(--light-grey);
    }
      
		.sugerir .sugerencias {
			opacity: 1;
      pointer-events: auto;			
		}  
  
ul#top_menu li a.login, ul#top_menu li a.wishlist_bt_top {
  top: 14px;
  overflow: visible;
}

  ul#top_menu li a.login, ul#top_menu li a.wishlist_bt_top:before {
    content: "\e015";
    font-family: ElegantIcons;
  }
  
ul#top_menu span.n {
  text-indent: 0;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 15px;
  height: 15px;
  line-height: 170%;
  text-align: center;
  background-color: #004dda;
  border-radius: 100%;
  color: #FFF;
  font-size: 9px;
}

#show_filters {
  position: fixed;
  left: -37px;
  transform: rotate(-90deg);
  background-color: #FFF;
  padding: 10px 10px 5px 10px;
  font-size: 12px;
  border: 1px solid #ededed;
  border-top: 0 none;
  color: inherit;
  transition: all 0.2s;
  box-shadow: 0 0 0.4em rgba(0,0,0,0.05);
}

  #show_filters:hover {
    left: -32px;
    box-shadow: 0 0 0.4em rgba(0,0,0,0.1);
  }

  #show_filters:before {
    font-family: "ElegantIcons";
    content: "\66";
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }